<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>

  <body>
    <nav>
    <%- include ('../partials/nav.ejs') %>
    </nav>    

    <!-- <a class="button" id="new-btn" href="/transactions/new">New Transaction</a> -->

    <%const balance = records.map(item => item.amount).reduce((prev, curr) => prev + curr, 0);%>
    <!-- Source: https://www.delftstack.com/howto/javascript/sum-array-of-objects-javascript/ -->
    <!-- Source: https://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript -->

    <div class="balance">
      <label for="balance"><h6>Balance: </h6></label>
      <h4>$<%=balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></h4>
    </div>

    <div class="send-money">
      <h5>Send Money</h5>
      <form class="" action="#" method="POST">
        <div class="send-inputs">
        <label for="receiver">Receiver</label>
        <input type="text" name="receiver" value="<%=records.receiver%>">
        <label for="amount">Amount</label>
        <input type="text" name="amount" value="<%=records.amount%>">
        </div>
        <input type="text" name="amount" value="<%=balance - records.amount%>" hidden>
        <input type="submit" name="" value="Confirm Send">
      </form>
    </div>



    <div class="transaction-buttons">
      <a class="button" href="/transactions/new/TopUp">Top Up</a>
      <a class="button" href="/transactions/new/PayBill">Pay Bill</a>
      <a class="button" href="/transactions/new/GetCash">Get Cash</a>
    </div>



    <h4> Recent Transactions</h4>

    <div class="recent-transactions">
      <% for (let i = 0; i < records.length; i++){%>
        <div class="record-item">
          <label for="date">Date: </label><%=records[i].date%><br/>
          <label for="transaction">Transaction:</label><%=records[i].transaction%><br/>
          <label for="amount">Amount: </label>$<%=records[i].amount%></a><br/>
          <a href="/transactions/<%=records[i].id%>">Show More</a>
        </div>
      </a>
      <%}%>

    </div>

  </body>
</html>
