<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>

  <body>
    <nav class="container">
    <%- include ('../partials/nav.ejs') %>
    <%- include ('../partials/logins.ejs') %>
    </nav>

    <%const balance = records.map(item => item.amount).reduce((prev, curr) => prev + curr, 0);%>
    <!-- Source: https://www.delftstack.com/howto/javascript/sum-array-of-objects-javascript/ -->
    <!-- Source: https://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript -->

    <div class="balance">
      <label for="balance"><h5>Balance: </h5></label>
      <h2>$<%=balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></h2>
    </div>

    <div class="transaction-buttons">
      <a class="button" href="/transactions/new/SendMoney">Send Money</a>
      <a class="button" href="/transactions/new/TopUp">Top Up</a>
      <a class="button" href="/transactions/new/PayBill">Pay Bill</a>
      <a class="button" href="/transactions/new/GetCash">Get Cash</a>
    </div>

    <h4 id="recent-tx"> Recent Transactions</h4>

    <div class="recent-transactions">
      <% for (let i = 0; i < records.length; i++){%>
        <div class="record-item">
          <label for="date">Date: </label><%=records[i].date%><br/>
          <label for="transaction">Transaction:</label><%=records[i].transaction%><br/>
          <% if (records[i].transaction === "SendMoney" || records[i].transaction === "PayBill" || records[i].transaction === "GetCash") {%>
            <label for="amount">Amount: </label>$<%=(-Math.abs(records[i].amount))%></a><br/>
          <%} else {%>
            <label for="amount">Amount: </label>$<%=records[i].amount%></a><br/>
          <%}%>

          <a href="/transactions/<%=records[i].id%>">Show More</a>
        </div>
      </a>
      <%}%>

    </div>

  </body>
</html>
