<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>

  <body>
    <nav class="container">
      <%- include ('../partials/nav.ejs') %>
      <%- include ('../partials/logins.ejs') %>
    </nav>



    <div class="record-div">
      <h2>Transaction Info</h2>

      <p>Date: <%=record.date%></p>

      <% if (record.transaction === "TopUp") {%>
        Transaction: <span style="color: blue;">Top Up%></span>
      <%} else if (record.transaction === "SendMoney") {%>
        Transaction: <span style="color: orange;">Send Money%></span>
      <%} else if (record.transaction === "PayBill") {%>
        Transaction: <span style="color: orange;">Pay Bill%></span>
      <%} else if (record.transaction === "GetCash") {%>
        Transaction: <span style="color: orange;">Get Cash%></span>
      <%}%>


      <p>Amount: $<%=record.amount%></p>
      <% if (record.confirmed === true) {%>
        Status: <span style="color: green;">Confirmed%></span>
      <%} else {%>
        Status: <span style="color: red;">In Progress%></span>
      <%}%>

      <% if (record.receiver) {%>
        <p>Paid to: <%=record.receiver%></p>
      <%}%>

      <div class="edit-delete">
        <a class="button edit-btn" href="/transactions/<%=record.id%>/edit">Edit Transaction</a>
        <form action="/transactions/<%=record.id%>?_method=DELETE" method="POST">
          <input class="button delete-btn" type="submit" value="Delete">
        </form>
      </div>


      <a class="button back-btn" href="/transactions">BACK</a>

    </div>



  </body>
</html>
