<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>

  <body>
    <nav class="container">
      <%- include ('../partials/nav.ejs') %>
    </nav>

    <h2>Transaction Info</h2>

    <div class="record-div">
      <p>Date: <%=record.date%></p>

      <% if (record.transaction === "TopUp") {%>
        <span style="color: blue;">Transaction: Top Up%></span>
      <%} else if (record.transaction === "SendMoney") {%>
        <span style="color: orange;">Transaction: Send Money%></span>
      <%} else if (record.transaction === "PayBill") {%>
        <span style="color: orange;">Transaction: Pay Bill%></span>
      <%} else if (record.transaction === "GetCash") {%>
        <span style="color: orange;">Transaction: Get Cash%></span>
      <%}%>


      <p>Amount: $<%=record.amount%></p>
      <% if (record.confirmed === true) {%>
        <span style="color: green;">Confirmed%></span>
      <%} else {%>
        <h5 style="color: red;">In Progress%></h5>
      <%}%>

      <% if (record.receiver) {%>
        <p>Paid to: <%=record.receiver%></p>
      <%}%>

      <nav class="edit-delete">
        <a class="button edit-btn" href="/transactions/<%=record.id%>/edit">Edit Transaction</a>
        <form action="/transactions/<%=record.id%>?_method=DELETE" method="POST">
          <input class="button delete-btn" type="submit" value="Delete">
        </form>
      </nav>

    </div>

    <nav class="back">
      <a class="button" href="/transactions">BACK</a>
    </nav>

  </body>
</html>
